.login-card {
	background: rgb(0, 17, 36);
	background: linear-gradient(
			30deg,
			rgba(0, 17, 36, 0.23546925606179976) 10%,
			rgba(0, 255, 212, 0.1835417760855) 78%
		),
		linear-gradient(
			125deg,
			rgba(0, 16, 36, 0.23546925606179976) 10%,
			rgba(0, 58, 163, 0.30095632002) 50%,
			rgba(1, 190, 159, 0.721) 48%
		),
		linear-gradient(
			65deg,
			rgba(0, 18, 36, 0.23546925606179976) 30%,
			rgba(0, 60, 163, 0.2948530095632002) 5%,
			rgba(3, 224, 188, 0.721) 90%
		),
		linear-gradient(
			15deg,
			rgba(0, 15, 36, 0.23546925606179976) 3%,
			rgba(0, 57, 163, 0.948530095632002) 50%,
			rgba(6, 234, 188, 0.721) 10%
		);
	display: grid;
	grid-template-rows: auto 25vh 20vh;
	margin: 25px auto;
	height: 60vh;
	width: 40vw;
	border: 8px solid rgba(0, 255, 212, 0.7211835417760855);
	border-radius: 5%;
	box-shadow: 4px -1px 6px 2px #235, 4px 2px 7px 2px #255, -4px 2px 7px 2px #215;
}

.sign-out {
	letter-spacing: 0.85px;
	width: 12vw;
	height: 5vh;
	border-radius: 5%;
	border: none;
	background: rgba(2, 73, 61, 0.842);
	color: #fff;
	font-size: 16px;
	padding: 8px auto;
}

.sign-out:hover {
	background: rgba(1, 43, 36, 0.42);
	cursor: pointer;
	color: #111;
}

.buttons {
	text-align: center;
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;
}

button {
	margin: 2%;
}

.welcome-list {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}

.welcome-list li {
	color: #fff;
	list-style: none;
	text-align: center;
	font-size: 20px;
	font-weight: 600;
	margin: 5%;
	padding: 2%;
	box-shadow: 1px -1px 3px 2px #235, -1px 1px 3px 2px #255;
	border: none;
}

.welcome-list li:hover {
	transition: 0.6s;
	color: #111;
	cursor: pointer;
	background: rgba(250, 245, 250, 0.75);
	box-shadow: 2px -3px 4px 4px rgb(33, 48, 78),
		-3px 2px 4px 4px rgb(50, 124, 124);
}
